@page "/reports-page"
@using VillageRentalManagementSystem.Services
@using VillageRentalManagementSystem.Models
@inject CustomerService customerService
@inject EquipmentService equipmentService
@inject CategoryService categoryService
@inject RentalService rentalService
@inject NavigationManager navigationManager

<h3>Generate Reporst</h3>

<div class="">
    <div class="">
        <div class="">
            <button class="btn-outline-secondary" @onclick="SalesByDateSelected"> Sales by Date</button>
        </div>
        <div class="">
            <button class="btn-outline-secondary" @onclick="SalesByCustomerSelected"> Sales by Customer</button>
        </div>
        <div class="">
            <button class="btn-outline-secondary" @onclick="ListByCategorySelected"> List items by Category</button>
        </div>
    </div>
    <div class="">
        @if(isSalesByDate) {
            <div class="md-3">
                <label class="form-label">Date and Time:</label>
                <input type="datetime-local" @bind="selectedDate" class="form-control" />
            </div>
        }
        @if(isSalesByCustomer) {
            <div class="md-3">
                <label class="form-label">Customer:</label>
                <select class="form-select" @bind="CustomerID">
                    <option value="0">-- Select a Date --</option>
                    @foreach (Customer customer in customers)
                    {
                        <option value="@customer.Id">@customer.LastName, @customer.FirstName</option>
                    }
                </select>
            </div>
        }
        @if (isListByCategory) {
            <div class="md-3">
                <label class="form-label">Categories:</label>
                <select class="form-select" @bind="CategoryID">
                    <option value="0">-- Select a Category --</option>
                    @foreach (Customer customer in customers)
                    {
                        <option value="@customer.Id">@customer.LastName, @customer.FirstName</option>
                    }
                </select>
            </div>
        }

    </div>
</div>

@code {
    private bool isSalesByDate = false;
    private bool isSalesByCustomer = false;
    private bool isListByCategory = false;

    private int CustomerID { get; set; }
    private int CategoryID { get; set; }

    private DateTime selectedDate;
    private Customer selectedCustomer;
    private List<Customer> customers;
    private List<Category> categories;
    private Category selectedCategory;

    protected override async Task OnInitializedAsync()
    {
        customers = await customerService.GetAllCustomersAsync();
        categories = await categoryService.GetAllCategoriesAsync();
    }

    private void SalesByDateSelected()
    {
        isSalesByDate = true;
        isSalesByCustomer = false;
        isListByCategory = false;
    }
    private void SalesByCustomerSelected()
    {
        isSalesByDate = false;
        isSalesByCustomer = true;
        isListByCategory = false;
    }
    private void ListByCategorySelected()
    {
        isSalesByDate = false;
        isSalesByCustomer = false;
        isListByCategory = true;
    }
}
