@page "/reports-page"
@using VillageRentalManagementSystem.Services
@using VillageRentalManagementSystem.Models
@using VillageRentalManagementSystem.Models.Reports
@inject CustomerService customerService
@inject EquipmentService equipmentService
@inject CategoryService categoryService
@inject RentalService rentalService
@inject NavigationManager navigationManager
@inject ReportService reportService

<h3>Generate Reporst</h3>

<div class="">
    <div class="">
        <div class="">
            <button class="btn-outline-secondary" @onclick="SalesByDateSelected"> Sales by Date</button>
        </div>
        <div class="">
            <button class="btn-outline-secondary" @onclick="SalesByCustomerSelected"> Sales by Customer</button>
        </div>
        <div class="">
            <button class="btn-outline-secondary" @onclick="ListByCategorySelected"> List items by Category</button>
        </div>
    </div>
    <div class="">
        @if(isSalesByDate) {
            <div class="md-3">
                <label class="form-label">Date:</label>
                <input type="datetime-local" @bind="selectedDate" class="form-control" />             
            </div>
            <div>
                <button @onclick="SelectDate">Generate</button>
            </div>
        }
        @if(isSalesByCustomer) {
            <div class="md-3">
                <label class="form-label">Customer:</label>
                <select class="form-select" @bind="CustomerID">
                    <option value="0">-- Select a Date --</option>
                    @foreach (Customer customer in customers)
                    {
                        <option value="@customer.Id">@customer.LastName, @customer.FirstName</option>
                    }
                </select>
            </div>
            <div>
                <button>Generate</button>
            </div>
        }
        @if (isListByCategory) {
            <div class="md-3">
                <label class="form-label">Categories:</label>
                <select class="form-select" @bind="CategoryID">
                    <option value="0">-- Select a Category --</option>
                    @foreach (Customer customer in customers)
                    {
                        <option value="@customer.Id">@customer.LastName, @customer.FirstName</option>
                    }
                </select>
            </div>
            <div>
                <button>Generate</button>
            </div>
        }
    </div>

    <div>
        <div>
            @if (isSalesByDate && dailySales != null)
            {
            <table>
                <thead>
                    <tr>
                        <td>Rental Id: </td>
                        <td>Customer First Name: </td>
                        <td>Customer Last Name: </td>
                        <td>Number of Items: </td>
                        <td>Total Sale: </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DailySalesReportItem item in dailySales)
                    {
                        <tr>
                            <td>@item.RentalId</td>
                            <td>@item.CustFirstName</td>
                            <td>@item.CustLastName</td>
                            <td>@item.NumberOfItems</td>
                            <td>@item.TotalSales</td>
                        </tr>        
                    }
                    <div> Total Sale for @selectedDate.ToShortDateString() is = $@TotalSalesOfDate</div>
                </tbody>
            </table>
            }<!-- end sales by date -->
            @if (isSalesByCustomer && customerSales != null)
            {
            <table>
                <thead>
                    <tr>
                        <td>Customer Id: </td>
                        <td>Customer First Name: </td>
                        <td>Customer Last Name: </td>
                        <td>Total Amount Spent : </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CustomerSalesReportItem item in customerSales)
                    {
                        <tr>
                            <td>@item.CustomerId</td>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td>@item.TotalAmountSpent</td>
                        </tr>        
                    }
                </tbody>
            </table>
            }
        </div>
    </div>
</div>

@code {
    private bool isSalesByDate = false;
    private bool isSalesByCustomer = false;
    private bool isListByCategory = false;

    private int CustomerID { get; set; }
    private int CategoryID { get; set; }

    private double TotalSalesOfDate = 0;

    private DateTime selectedDate;
    private Customer selectedCustomer;
    private List<Category> categories;
    private Category selectedCategory;
    private List<Customer> customers;

    private List<DailySalesReportItem> dailySales;
    private List<CustomerSalesReportItem> customerSales;

    protected override async Task OnInitializedAsync()
    {
        selectedDate = DateTime.Now;
        customers = await customerService.GetAllCustomersAsync();
        categories = await categoryService.GetAllCategoriesAsync();
    }

    private void SalesByDateSelected()
    {
        isSalesByDate = true;
        isSalesByCustomer = false;
        isListByCategory = false;
    }
    private async Task SelectDate()
    {
        if (selectedDate != null)
        {
            dailySales = await reportService.GetSalesByDateAsync(selectedDate);
            dailySales.ForEach(e => TotalSalesOfDate += decimal.ToDouble(e.TotalSales));
        }
    }
    private void SalesByCustomerSelected()
    {
        isSalesByDate = false;
        isSalesByCustomer = true;
        isListByCategory = false;
    }

    private void ListByCategorySelected()
    {
        isSalesByDate = false;
        isSalesByCustomer = false;
        isListByCategory = true;
    }
}
