@page "/reports-page"
@using VillageRentalManagementSystem.Services
@using VillageRentalManagementSystem.Models
@using VillageRentalManagementSystem.Models.Reports
@inject CustomerService customerService
@inject EquipmentService equipmentService
@inject CategoryService categoryService
@inject RentalService rentalService
@inject NavigationManager navigationManager
@inject ReportService reportService

<h3>Generate Reporst</h3>

<div class="">
    <div class="btn-group">

        <button type="button" class="btn-outline-secondary" @onclick="SalesByDateSelected"> Sales by Date</button>

        <button type="button" class="btn-outline-secondary" @onclick="SalesByCustomerSelected"> Sales by Customer</button>

        <button type="button" class="btn-outline-secondary" @onclick="ListByCategorySelected"> List items by Category</button>

    </div>
    <div class="">
        @if(isSalesByDate) {
            <div class="md-3">
                <label class="form-label">Date:</label>
                <input type="datetime-local" @bind="selectedDate" class="form-control" />             
            </div>
            <div>
                <button @onclick="SelectDate">Generate</button>
            </div>
        }
    </div>

    <div>
        <div>
            @if (isSalesByDate && dailySales != null)
            {
            <table>
                <thead>
                    <tr>
                        <td>Rental Id: </td>
                        <td>Customer First Name: </td>
                        <td>Customer Last Name: </td>
                        <td>Number of Items: </td>
                        <td>Total Sale: </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DailySalesReportItem item in dailySales)
                    {
                        <tr>
                            <td>@item.RentalId</td>
                            <td>@item.CustFirstName</td>
                            <td>@item.CustLastName</td>
                            <td>@item.NumberOfItems</td>
                            <td>@item.TotalSales</td>
                        </tr>        
                    }
                    <div> Total Sale for @selectedDate.ToShortDateString() is = $@TotalSalesOfDate</div>
                </tbody>
            </table>
            }<!-- end sales by date -->
            @if (isSalesByCustomer)
            {
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td class="col">Customer Id </td>
                        <td class="col">Customer Name </td>
                        <td class="col">Total Amount Spent </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CustomerSalesReportItem item in customerSales)
                    {
                        <tr>
                            <td>@item.CustomerId</td>
                            <td>@item.CustomerName</td>
                            <td>@item.TotalAmountSpent</td>
                        </tr>        
                    }
                </tbody>
            </table>
            }
            @if (isListByCategory)
            {
            <table>
                <thead>
                    <tr>
                            <td class="col">Category Id </td>
                            <td class="col">Category Name </td>
                            <td class="col">Total Sales </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CategorySalesReportItem item in categorySales)
                    {
                        <tr>
                            <td>@item.CategoryId</td>
                            <td>@item.CategoryName</td>
                            <td>@item.TotalSales</td>
                        </tr>        
                    }
                </tbody>
            </table>
            }
        </div>
    </div>
</div>

@code {
    private bool isSalesByDate = false;
    private bool isSalesByCustomer = false;
    private bool isListByCategory = false;

    private int CustomerID { get; set; }
    private int CategoryID { get; set; }

    private double TotalSalesOfDate = 0;

    private DateTime selectedDate;
    private Customer selectedCustomer;
    private Category selectedCategory;

    private List<Customer> customers;
    private List<Category> categories;

    private List<DailySalesReportItem> dailySales;
    private List<CustomerSalesReportItem> customerSales;
    private List<CategorySalesReportItem> categorySales;

    protected override async Task OnInitializedAsync()
    {
        selectedDate = DateTime.Now;
        customers = await customerService.GetAllCustomersAsync();
        categories = await categoryService.GetAllCategoriesAsync();
        customerSales = await reportService.GetSalesByCustomerAsync();
        categorySales = await reportService.GetSalesByCategoryAsync();
    }


    private void SalesByDateSelected()
    {
        isSalesByDate = true;
        isSalesByCustomer = false;
        isListByCategory = false;
    }
    private async Task SelectDate()
    {
        if (selectedDate != null)
        {
            dailySales = await reportService.GetSalesByDateAsync(selectedDate);
        }
    }


    private async Task SalesByCustomerSelected()
    {
        isSalesByDate = false;
        isSalesByCustomer = true;
        isListByCategory = false;
        
    }
    // private async Task SelectCustomer()
    // {
    //     if (selectedDate != null)
    //     {
    //         dailySales = await reportService.GetSalesByDateAsync(selectedDate);
    //         dailySales.ForEach(e => TotalSalesOfDate += decimal.ToDouble(e.TotalSales));
    //     }
    // }

    private void ListByCategorySelected()
    {
        isSalesByDate = false;
        isSalesByCustomer = false;
        isListByCategory = true;
    }


}
